<div class="container">
	<div class="nav">
		<a href="#/">Home</a> | <a href="#/question/{{question._id}}/new_answer">Answer this Question</a> | <a href="/logout">Logout</a>
	</div>
	<h3>{{question.question}}</h3>
	<p>{{question.description}}</p>
	<hr>
	<div class="outline">
		<div ng-repeat="answer in question._answers | orderBy: '-likes'">
			<p><em>{{answer.name}} says:</p>
			<p><strong>{{answer.answer}}</strong> {{answer.details}}</em></p>
			<button ng-click="update(answer)">Like!</button>
			<p class="small">{{answer.likes}} likes</p>
			<hr>
		</div>
	</div>
</div>
